{% extends "admin/base_site.html" %}
{% load i18n static shop_admin %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  <p class="quick-add-link">
    <a class="button" href="{% url 'shop:home' %}">View Home Page</a>
    <a class="button" href="{% url 'quick_product' %}">Quick Add Product</a>
  </p>
  {% meiyi_dashboard %}
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
